## Python Data Structures and Boolean
#### * Boolean
#### * Boolean and Logical Operator
#### * Lists
#### * Comparision operators
#### * Dictionaries
#### * Tuples
#### * Sets

### Boolean Variables

Boolean values are the two constant objects False and True.
They are used to represent truth values (other values can also be considered as flase or true).
In numeric context (for example, when used as the argument to athimetic operator), they behave like integers 0 and 1 respectively.

In [2]:
False

False

In [3]:
print(True,False)

True False

In [4]:
type(True)

bool

In [5]:
type(False)

bool

In [6]:
mystr = "Vinay"

In [7]:
mystr.istitle()

True

In [8]:
mystr = "vinay"

In [9]:
mystr.istitle()

False

In [10]:
print(mystr.isalnum())  #Check if all the characters are numbers
print(mystr.isalpha())  #Check if all the characters in the string are alphabetic
print(mystr.isdigit())  #Test if string contains digit
print(mystr.istitle())  #Test if string contain title words
print(mystr.isupper()) #test if string contains upper case
print(mystr.islower()) #test if string contains lower case
print(mystr.isspace()) #test if string contains spaces
print(mystr.endswith('v')) #test if string endswith v
print(mystr.startswith('V')) #test if string startswith V

True
True
False
False
False
True
False
False
False

### Boolean and logical operator

In [11]:
True and True

True

In [12]:
True and False

False

In [13]:
True or False

True

In [14]:
True or True

True

In [15]:
str_example='Hello world'
my_str='Vinay'

In [16]:
my_str.isalpha() or str_example.isnum()

True

### Lists
A List is a data structure in a python that is mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes,list are defined by having values between square bracket

In [17]:
type([])

list

In [18]:
lst_example=[]

In [19]:
type(lst_example)

list

In [20]:
lst=list()

In [21]:
type(lst)

list

In [22]:
lst=['Mathematics','Chemistry',100,200,300,204]

In [23]:
len(lst)

6

In [24]:
type(lst)

list

### Append

In [25]:
# append is used to add elements in the list
lst.append("Vinay")

In [26]:
lst.append(["Sanjay","Raj"])

In [27]:
lst

['Mathematics', 'Chemistry', 100, 200, 300, 204, 'Vinay', ['Sanjay', 'Raj']]

### Insert

In [28]:
# Insert in a specific order
lst.insert(2,'Nanjappa')

In [29]:
lst

['Mathematics',
 'Chemistry',
 'Nanjappa',
 100,
 200,
 300,
 204,
 'Vinay',
 ['Sanjay', 'Raj']]

In [30]:
lst.append(["Hello","World"])

In [31]:
lst

['Mathematics',
 'Chemistry',
 'Nanjappa',
 100,
 200,
 300,
 204,
 'Vinay',
 ['Sanjay', 'Raj'],
 ['Hello', 'World']]

In [32]:
lst=[1,2,3]

In [33]:
lst.append([4,5])

In [34]:
lst

[1, 2, 3, [4, 5]]

### Extend Method

In [35]:
lst=[1,2,3,4,5,6]

In [36]:
lst.extend([8,9])

In [37]:
lst

[1, 2, 3, 4, 5, 6, 8, 9]

### Various operation that can perform on list

In [38]:
lst=[1,2,3,4,5]

In [39]:
sum(lst)

15

In [40]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### POP() method

In [41]:
lst.pop()

5

In [42]:
lst

[1, 2, 3, 4]

In [43]:
lst.pop(0)

1

In [44]:
lst

[2, 3, 4]

### Count(): Calculates the total occurrence of given elemenet of list

In [45]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [46]:
len(lst)

6

In [47]:
#index(): Resturns the index of first occurence. Start and end index are not necessary parameter
lst.index(1,1,4)

1

In [48]:
# Max and Min
min(lst)

1

In [49]:
max(lst)

5

### SETS

A Set is an unorderd collection data type that is iterable, mutable and has no duplicate elements. Python set class represents the mathematical notation of a set. This is based on the data structure known has hash table

In [50]:
## Defining an empty set

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [51]:
set_var={1,2,3,4,5}

In [52]:
set_var

{1, 2, 3, 4, 5}

In [53]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Avengers', 'IronMan', 'Hitman'}

set

In [58]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan","Hitman","Hulk2"}

In [55]:
set2.intersection_update(set1)

In [56]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [59]:
set2.difference(set1)

{'Hulk2'}

In [60]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [61]:
set2.difference_update(set1)

In [62]:
print(set2)

{'Hulk2'}

### Dictionaries

A dictionary is a collection of unordered, changeable and indexed. In python dictionaries are written with curly brackets and they have the key value pair

In [63]:
dic={}

In [64]:
type(dic)

dict

In [65]:
type(dict())

dict

In [66]:
set_ex={1,2,3,4,5}

In [67]:
type(set_ex)

set

In [68]:
# Let's create dictionary

my_dict = {"car1":"Audi", "car2":"BMW","car3":"Mercidez Benz"}

In [69]:
type(my_dict)

dict

In [70]:
my_dict['car1']

'Audi'

In [72]:
# Loop through dictionary key

for x in my_dict:
    print(x)

car1
car2
car3

In [73]:
# Loop through dictionary values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidez Benz

In [74]:
# We can also check both key and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('car3', 'Mercidez Benz')

In [75]:
# Adding items in dictionary

my_dict['car4']='Audi 2.0'

In [76]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'car3': 'Mercidez Benz', 'car4': 'Audi 2.0'}

In [77]:
my_dict['car1']='Maruti'

In [78]:
my_dict

{'car1': 'Maruti', 'car2': 'BMW', 'car3': 'Mercidez Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [79]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [80]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [81]:
print(car_type['car1']['Mercedes'])

1960

### Tuple

In [82]:
## Create an empty tuple

my_tuple = tuple()

In [83]:
type(my_tuple)

tuple

In [84]:
my_tuple=()

In [86]:
type(my_tuple)

tuple

In [88]:
my_tuple=("Vinay","Sanjay","Ramesh")

In [89]:
my_tuple=('Hello','World')

In [90]:
type(my_tuple)

tuple

In [91]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [93]:
my_tuple.count('Hello')

1